body {
  font-family: $sans, sans-serif;
  font-weight: 300;
  margin: 0;
  color: $text-color;
  font-size: 62.5%; /* font-size 1em = 10px */
}

p {
  font-size: 1.6em; /* 1.6em = 16px */
}

.container {
  width: 750px;
  margin: 0 auto;
}

a {
  color: #444444;
  text-decoration: none;
}

a:hover {
  color: #3498db;
}

.badge {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  background: $purple;
  border-radius: 2em;
  color: white;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  padding: .25em 1em;
  text-align: center;
}

.circular {
  margin: 0 auto;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  background: url('../assets/images/me.png') no-repeat;
  background-size: 240px !important;
}


@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
  .circular {
    background: url('../assets/images/me@2x.png') no-repeat;
  }
}
