.container {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  font-size: $small-font-size;
  margin: $spacing-unit 0;
}

.post {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;

  &__title {
    font-size: 36px;
    margin: 0;
    a {
      color: $text-color;
    }
  }

  &__timestamp {
    font-family: $sans;
    margin-top: 0;
    color: lighten($text-color, 30%);
    font-size: $small-font-size;
  }

  &__keep-reading {
    font-family: $sans;
    font-size: $small-font-size;
    display: block;
  }
}

@include media-query($on-palm) {
  .post {
    font-size: 16px;

    &__title, &__timestamp, &__keep-reading {
      text-align: center;
    }

    &__title {
      font-size: 30px;
    }

    &__content {
      font-size: 16px;
    }
  }
}
