.op-name {
  margin-bottom: 0;
  font-size: $xxx-large;
}
.op-lead {
  margin-top: 0;
}

.lead {
  font-family: $sans, sans-serif;
  color: $gray;
  max-width: 400px;
  margin: 0 auto;
}

/* Style for list with recent posts */
.recent-posts {
  margin-bottom: 30px;

  .post-title {
    font-size: $x-large;
    margin-bottom: 0.2em;
  }

  .post-date {
    margin-top: 0;
  }

  ul {
    padding: 0;
    list-style: none;
  }
}

/* Style for induvidual post */
.post {
  h1 {
    margin-bottom: 0.2em;
  }
}

/* Smaller modules */
.date {
  color: $gray;
}

.small { font-size: $small; }

.faded { color: $gray; }

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.circular {
  margin: 0 auto;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  background: url('../assets/images/me.png') no-repeat;
  background-size: 240px !important;
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
  .circular {
    background: url('../assets/images/me@2x.png') no-repeat;
  }
}
