/* @import url(http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700); */
/* @import url(http://fonts.googleapis.com/css?family=Roboto:100,700,400); */
// @import url(http://fonts.googleapis.com/css?family=Lato:100,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:500,700italic,300);

/* Colors */
$red: #fa4b2a;
$purple: #9b59b6;
$blue: #3498db;
$blue-darker: #2980b9;

/* Grays */
$gray: #7f8c8d;

$prime-color: $red;
$text-color: #444444;

/* Typography */
$serif: 'Droid Serif';
$sans: 'Lato';

/* Font Sizes */
$xxx-large: 6em; // 4em = 40px
$xx-large: 4em; // 4em = 40px
$x-large: 2.6em; // 2.6em = 26px
$large: 2em; // 2em = 20px
$medium: 1.6em; // 1.6em = 16px
$small: 1.2em; // 1em = 10px
$x-small: 1em; // 0.8em = 8px
