@import url(https://fonts.googleapis.com/css?family=Roboto:900,300|Droid+Serif);

/* Colors */
$red: #fa4b2a;
$purple: #9b59b6;
$blue: #3498db;
$blue-darker: #2980b9;

/* Grays */
$gray: #7f8c8d;

$prime-color: $red;
$text-color: #444444;

/* Typography */
$serif: 'Droid Serif', serif;
$sans: 'Roboto', sans-serif;

/* Font Sizes */
$xxx-large: 3.75em; // 60px
$xx-large: 2.5em; // 40px
$x-large: 1.625em; // 26px
$large: 1.25em; // 20px
$medium: 1em; // 16px
$small: 0.8em;
$x-small: 0.5em; // 8px
