.header {
  font-size: $small-font-size;
  padding: $spacing-unit/2;
  margin: 0 auto $spacing-unit;

  &__link {
    float: right;
  }
}

.container {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.faded {
  color: lighten($text-color, 30%);
}

header {
  text-align: center;
  margin: $spacing-unit 0;
}

.post-list {
  &__header {
    font-size: 24px;
  }

  &__item {
    margin-bottom: $spacing-unit/2;
  }
}


.post {
  margin: $spacing-unit 0;

  img {
    margin: $spacing-unit/2 0;
  }

  h2, h3, h4 {
    font-size: 18px;
    margin-bottom: 0.25em;
  }

  &__header {
    font-size: 24px;
  }
}

.post__footer {
  margin-top: $spacing-unit * 2;
  text-align: center;
  @include media-query($on-palm) {
    text-align: left;
  }
}
